<div class="example-container">
  <mat-toolbar class="search-toolbar-style">
    Search Keyword : {{ keyword }}
    <div *ngIf="bookCategory">
      ( {{bookCategory}} )
    </div>
    <!--<ng-container *ngIf="bookCategory"> ng-container 이용 -->
      <!--( {{bookCategory}} )-->
    <!--</ng-container>-->

  </mat-toolbar>
  <mat-form-field>
    <input matInput #inputKeyword placeholder="Search Keyword" [(ngModel)]="keyword" (ngModelChange)="inputChange()">
  </mat-form-field>
  <button mat-raised-button color="warn" (click)="setKeyWord(inputKeyword.value)">Search!</button>
</div>
